<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Relatório</title>
<link rel="stylesheet" href="../public/documento.css">



</head>

<body>
 <div class="container">
  <tbody class="">
    <h4 class="text-3xl mb-8">(MODELO DE ACEITE DE PROPOSTA COMERCIAL)</h4>
    <p>
    Ao firmar a presente Proposta Comercial, a CONTRATANTE formaliza e
    declara ciência plena e aceitação integral, irrestrita e definitiva da
    cartilha de prevenção à invasão (políticas de senhas e direito de
    acesso) e marketing por mensageria (boas práticas), disponibilizadas
    pela FORTICS em relação ao uso dos módulos de software não personalizado
    que integram a PLATAFORMA FORTICS, disponíveis respectivamente em
    http://www.fortics.com.br/pdf/cartilhaseguranca.pdf e
    http://www.fortics.com.br/pdf/boaspraticasmensageria.pdf, e ao CONTRATO
    DE LICENCIAMENTO E ATUALIZAÇÃO DOS MÓDULOS DE SOFTWARE NÃO PERSONALIZADO
    QUE INTEGRAM A PLATAFORMA FORTICS e ANEXO(S) registrado perante o
    Cartório Sampaio de 1º Ofício, Eusébio/CE, disponível em
    http://www.fortics.com.br/pdf/licencauso, incluindo re-ratificações e/ou
    atualizações, que serão considerados parte integrante deste instrumento,
    como se nele estivesse transcrito em todos os seus termos, aspectos e
    condições, perfazendo um só todo para fins de interpretação e aplicação
    conjuntas e para todos os demais efeitos de direito aplicáveis à
    hipótese, conforme previsto na legislação de regência. 
    <p class="text">
    Uma vez
    constatada a adequação e aceitos todos os termos da presente Proposta
    Comercial, de um lado, VUBIS TECNOLOGIA LTDA, com sede na AV MAL.CASTELO BRANCO, SALA 301 PAV 3 65.076-090, SÃO LUÍS - MA, inscrita no CNPJ/MF sob nº
    32.515.409/0001-37, aqui representada por seu sócio-diretor
    infra-assinado, doravante designada simplesmente por VUBIS e de
    outro lado, <span class="Uper"><%=Entreprise%></span>, estabelecida à
    <%=Adress%>, <%=CEP%>
    , inscrita no CNPJ/MF sob n°<%=CNPJ%>, neste ato representada
    por seu(s) representante(s) legal(is) <span class="Uper"><%=Represent%></span> infra-assinado(s), nesse ato se vinculam ao CONTRATO DE
    LICENCIAMENTO E ATUALIZAÇÃO DOS MÓDULOS DE SOFTWARE NÃO PERSONALIZADO
    QUE INTEGRAM A PLATAFORMA FORTICS e ANEXO(S), registrado perante o
    Cartório Sampaio de 1º Ofício, Eusébio/CE, incluindo re-ratificações
    e/ou atualizações, para os devidos fins do disposto nos artigos 427 a
    435 do Código Civil aprovado pela Lei nº 10.406/2002.
    
    </p>
    
    </p>
    <div class="assins">
    <div class="es">SÃO LUIS, MA – <%=data%></div><br>
    _____________________________________________________________________<br>
    
    <div class="esc">VUBIS TECNOLOGIA LTDA 44.171.042/0001-60 <br> <span class="Uper">JOSIMAR ROSENDO  </span></div><br>
    ____________________________________________________________________<br>
    
    <div class="es"></div><span class="Uper"><%=Entreprise%></span><br><%=CNPJ%><br><span class="Uper"><%=Represent%> <%=CPF%> </span> <br><div></div><div class="desk">
    <div class="footer">
    <div class="tem"> <p><span style="margin-bottom: 100px;">Testemunhas: </span><br>_______________________________</p><br><p class="frase">CONTRATANTE<br> CPF:</p></div>
    <div class="tem"> <p> <br>_______________________________</p><br><p class="frase">CONTRATADO<br> CPF:</p></div>
    </div>
  
   
    </tbody>
 </div>
</body>
</html>

